
numpy
pandas
scikit-learn
scipy


librosa
audioread


moviepy
opencv-python
dlib
face-recognition
face-recognition-models
imutils


tensorflow
torch
matplotlib
seaborn


fastapi
uvicorn
httpx
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv


sqlalchemy
asyncpg
alembic


python-dateutil
tqdm
pillow